

body{
    display: flex;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 50%;
    background-image: url(images/pawel-czerwinski-6lQDFGOB1iw-unsplash.jpg);
}

.box {
    text-align: center;
    background-color: #000000d0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 400px;
    margin-top: 2em;
    
    
}

#box2{
    text-align: center;
    background-color: #000000d0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 400px;
    margin-top: 2em;
    margin-bottom: 2em;
    
    visibility: hidden;
    
}

h1{
    text-align: center;
    font-size: 30pt;
}

.form{
    display: block;
    align-items: center;
    justify-content: center;
    resize: both;
    overflow: auto;


}



.button{
    margin: 1em;
    border-radius: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.location{
    border-radius: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.searchBar{
    border-radius: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Weather{
    font-style: italic;
}

.temperature, .temperature1, .temperature2, .temperature3{
    font-size: 23pt;
}

.description, .description1, .description2, .description3{
    font-size: 15pt;
}

#forecast{
    visibility: hidden;
    margin: 1em;
    border-radius: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

hr.rounded {
    border-top: 3px solid #bbb;
    border-radius: 5px;
  }


